/**
  CSS utilities that defines a class for each display property
 */
.d-none {display: none !important;}
.d-flex {display: flex !important;}
.d-inline-flex {display: inline-flex !important;}
.d-inline {display: inline !important;}
.d-block {display: block !important;}
.d-inline-block {display: inline-block !important;}
.d-compact {display: compact !important;}
.d-contents {display: contents !important;}
.d-flow {display: flow !important;}
.d-flow-root {display: flow-root !important;}
.d-grid {display: grid !important;}
.d-inline-grid {display: inline-grid !important;}
.d-list-item {display: list-item !important;}
.d-inline-list-item {display: inline-list-item !important;}
.d-table {display: table !important;}
.d-inline-table {display: inline-table  !important;}
