.text-capitalize {
  text-transform: capitalize !important;
}

.text-lowercase {
  text-transform: lowercase !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-unset {
  text-transform: unset !important;
}

.text-full-size-kana {
  text-transform: full-size-kana !important;
}

.text-full-width {
  text-transform: full-width !important;
}
